
{% extends 'base.html' %}
{% load static %}

{% block content %}
        
		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

		      		<!-- Start Column 1 -->
					 {%for i in chair%}
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							
							<h3 class="product-title" >{{i.name}}</h3>
							<strong class="product-price" >${{i.price}}</strong>

							
							
								<form action="" method="GET">
									<input type="number" name="product_id" value="{{i.id}}" hidden>
									<input type="text" name="name" value="{{i.name}}" id="nameid" hidden>
									<input type="number" name="price" value="{{i.price}}" id="priceid" hidden>
									<span class="icon-cross">
										<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span><button class="cartbtn"><i class="fa fa-cart-plus"></i></button>
								   </form>
								
						</a>
					</div> 
					<!-- End Column 1 -->
						{% endfor %}
					
		      	</div>
		    </div>
		</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           
            $('.cartbtn').click(
                function(){
                    const name= $('#nameid').val();
                    
                    const price= $('#priceid').val();
                    
                    
                    
                    $.ajax(
                        {
                            url:"/addcart/",
                            method:"GET",
                            data:{name:name,price:price},
                            success: function(response){
                                
                                location.reload();
                            }
                        }
                    );
                }
            );
        });
    </script>
		{% endblock content %}